{% extends "base.html.twig" %}

{% block body %}

<h1>Inscription sur le site</h1>


{{ form_start(form) }}
{{ form_row(form.nomUtilisateur,{'label': 'Votre nom','attr':{'placeholder':'Nom'}}) }}

{{ form_row(form.prenomUtilisateur,{'label': 'Votre prenom','attr':{'placeholder':'Prénom'}}) }}
{{ form_row(form.dateDeNaissanceUtilisateur,{'label': 'Votre date de naissance'}) }}
{{ form_row(form.adresseUtilisateur,{'label': 'Votre adresse','attr':{'placeholder':'Adresse'}}) }}
{{ form_row(form.mailUtilisateur,{'label': 'Votre mail','attr':{'placeholder':'mail'}}) }}
{{ form_row(form.mdpUtilisateur,{'label': 'Votre mots de passe','attr':{'placeholder':'mot de passe'}}) }}
{{ form_row(form.portableUtilisateur,{'label': 'Votre numero','attr':{'placeholder':'numero'}}) }}
{{ form_row(form.typeUtilisateur) }}

<button type="submit" name="" id="" class="btn btn-primary btn-lg btn-block"> Inscription </button>
{{ form_end(form) }}

{% endblock %}