{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}


<main>

    <!-- breadcrumb section start -->
    <div class="breadcrumb-area bg-img" data-bg="assets/img/banner/page-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <h2 class="breadcrumb-title">Recherche_annonce</h2>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb section end -->

    <!-- team section start -->
    <section class="team-wrapper team-wrapper--style_3 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="contact-message">
                        <div class="row">
							<div class="col-12">
								{{form_start(form)}}

								{{form_label(form.idCategorie,'Catégorie')}}
								{{form_widget(form.idCategorie)}}

								{{form_label(form.idCible,'Public')}}
								{{form_widget(form.idCible)}}

								{{form_label(form.idTaille,'Taille')}}
								{{form_widget(form.idTaille)}}
								
								<!--{{form_label(form.prixAnnonce,'Prix')}}
								{{form_widget(form.prixAnnonce)}}-->
								<br/>
								<div class="contact-btn ">
								<input type="submit" value="Rechercher" class="btn btn-all">
								</div>
								{{form_end(form)}}
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>







{% endblock %}
