<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href={{ asset('assets/img/favicon.ico') }}>

    <!-- CSS
	============================================ -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Sarabun:300,300i,400,400i,500,600,700,800&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ asset('assets/css/vendor/bootstrap.min.css') }}>
    <!-- Font-awesome CSS -->
    <link rel="stylesheet" href={{ asset('assets/css/vendor/font-awesome.min.css') }}>
    <!-- Slick slider css -->
    <link rel="stylesheet" href={{ asset('assets/css/plugins/slick.min.css') }}>
    <!-- Odometer css -->
    <link rel="stylesheet" href={{ asset('assets/css/plugins/odometer.min.css') }}>
    <!-- animate css -->
    <link rel="stylesheet" href={{ asset('assets/css/plugins/animate.css') }}>
    <!-- main style css -->
    <link rel="stylesheet" href={{ asset('assets/css/style.css') }}>

    {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

</head>

<body>
    <!-- Start Header Area -->
    {% include 'header.html.twig' %}
    <!-- end Header Area -->
   
   
   {% block body %} {% endblock %}

    

    <!-- footer section start -->
      {% include 'footer.html.twig' %}
    <!-- footer section end -->
  
    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src={{ asset('assets/js/vendor/modernizr-3.6.0.min.js') }}></script>
    <!-- jQuery JS -->
    <script src={{ asset('assets/js/vendor/jquery-3.3.1.min.js') }}></script>
    <!-- Popper JS -->
    <script src={{ asset('assets/js/vendor/popper.min.js') }}></script>
    <!-- Bootstrap JS -->
    <script src={{ asset('assets/js/vendor/bootstrap.min.js') }}></script>
    <!-- wow js -->
    <script src={{ asset('assets/js/plugins/wow.min.js') }}></script>
    <!-- slick Slider JS -->
    <script src={{ asset('assets/js/plugins/slick.min.js') }}></script>
    <!-- odometer js -->
    <script src={{ asset('assets/js/plugins/odometer.min.js') }}></script>
    <!-- appear js -->
    <script src={{ asset('assets/js/plugins/appear.min.js') }}></script>
    <!-- mailchimp active js -->
    <script src={{ asset('assets/js/plugins/ajaxchimp.js') }}></script>
    <!-- waypoint js  -->
    <script src={{ asset('assets/js/plugins/waypoints.min.js') }}></script>
    <!-- google map api -->
    <script src={{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D8wrWMY3XZnuHO6C31uq90JiuaFzGws') }}></script>
    <!-- google map active js -->
    <script src={{ asset('assets/js/plugins/google-map.js') }}></script>
    <!-- Main JS -->
    <script src={{ asset('assets/js/main.js') }}></script>
</body>

</html>
